{% load static %}
<html>
    <head>
        <title>StudyBud</title>
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/main.css' %}">
    </head>
    <body>
        {% include "navbar.html" %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <!-- <img src="{% static 'images/zenitsu_agatsuma_black_background_4k_hd_demon_slayer_kimetsu_no_yaiba.jpg'%}" /> -->
        {% block content %}
        {% endblock %}
    </body>
</html>